{% extends 'products/base.html' %}
{% load static%}
{% block content %}
<br /><br />

<!-- <div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-md-4">
      <div class="card">
        <img src="{{product.product_image.url}}" alt="" style="width: 100%" />
        <div class="card-body">
          <h4 class="text-center ">{{product.name}}</h4>
          <h6 class="text-center lead">₦{{product.price}}</h6>
          <h6 class = "lead text-center lead">Category: {{product.category}}</h6>
          <br/>
          <h5 class = "text-center">
            <a href="{% url 'product_detail' product.id %} " class = "text-dark"
              >View More </a>
          </h5>
          <hr /> <br/>
          <div style = "display: flex; justify-content: space-between">
            <a href = "add_to_cart/{{product.slug}}" class="btn btn-dark btn-sm" style = "width: 150px">
              Add to Cart
            </a>   
            <a href = "remove_from_cart/{{product.slug}}" class="btn btn-dark btn-sm" style = "width: 150px">
              Remove from Cart
            </a>   
          </div>  
        </div>
      </div>
      <br/><br />
    </div>
    {% endfor %}
  </div>
</div> -->

<!--Card-->
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-md-4">
      <div class="card card-cascade card-ecommerce wider">
        <!--Card image-->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="{{product.product_image.url}}"
            alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->
      
        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <!--Category & Title-->
          <h5>
            <a href="{% url 'product_detail' product.id %} " class = "text-dark" style="text-decoration: none;">
              {{product.name}}</a>
          </h5>
          <!--Card footer-->
          <div class="card-footer" style = "height: 40px">
            <span class="float-left">₦{{product.price}}</span>
            <span class="float-right">
              <a href = "add_to_cart/{{product.slug}}" class="active text-secondary" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
            </span>
          </div>
        </div>
        <!--/.Card content-->
      </div>
      <br><br/><br><br/>
      <!--/.Card-->
    </div>
    {% endfor %}

  </div>
</div>




{% endblock%}