{% extends 'products/base.html' %}
{% load static%}
{% block content %}
{% load humanize %}

<br>
<!--Card-->
<div class="container">
  <div class="row"> 
    {% for product in products %}
    <div class="col-lg-4">
      <img src="{{product.product_image.url}}" style="width:100%"> 
      <div class="card-body card-body-cascade text-center">
        <!--Category & Title-->
        <h5>
          <a href="{% url 'product_detail' product.id %} " class = "text-dark" style="text-decoration: none;">
            {{product.name}}</a>
        </h5>
        <!--Card footer-->
        <div class="card-footer shadow-lg p- mb-5 bg-white" style = "height: 60px">
          <h4 class="float-left ">₦{{product.price|floatformat:2|intcomma}}</h4>
          <span class="float-right">
            <div >
              <a href = "add_to_cart/{{product.slug}}" class="active text-secondary" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart" style = "font-size: 24px"></i></a>
            <a href = "remove_from_cart/{{product.slug}}" class="btn" style = "font-size: 24px; color:rgba(255, 0, 0, 0.582); margin-top: -7px">
              <i class="fas fa-trash-alt"></i>
            </a>  
            </div>  
          </span>
        </div>
        <br><br>
      </div>
    </div>
    {% endfor %}
  </div> 
</div>
{% endblock%}
