body, html {
    position: relative;
    overflow-x: hidden;
}

.w-100 {
    width: 100% !important;
    height: 90vh
  }

.login-form {
    margin: 0 auto;
    width: 50%;
}

@media(max-width:767px){
    .w-100 {
        width: 100% !important;
        height: 400px
      }

      .login-form {
        margin: 0 auto;
        width: 90%;
    }
}
