{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br><br>

    <div class="row">
        <div class="col-md-9">
            <form method = "POST" action= "{% url 'payments' %}">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" name = "submit"/>
            </form>
        </div>
        <div class="col-md-3">
            <div class="card" style="height: auto">
              <div class="card-body">
               Order Items
              </div>
                 <div class="card-footer">
                  <span class="float-left"><b>Order Total</b></span>
                  <span class="float-right"><b>$ {{ order_total | floatformat:2 }}</b></span>
                </div>
            </div>
        </div>

    </div>
</div>





{% endblock %}