body, html {
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: url('/static/images/bg1.jpg')
}

.card-img-top{
    transition: all .2s ease-in-out; 
}

.card-img-top:hover {
    transform: scale(1.1);
}
